name: MLC-LLM CI/CD Pipeline

on:
  push:
    branches: [ master, develop, feature ]
    tags:
      - "v*"
  pull_request:
    branches: [ master, develop, feature ]

concurrency:
  group: ci-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build-docker:
    uses: ./.github/workflows/templates/build-docker.yml

  run-tests:
    needs: build-docker
    uses: ./.github/workflows/templates/test.yml

  build-wheels:
    needs: run-tests
    uses: ./.github/workflows/templates/build-wheels.yml

  create-release:
    if: startsWith(github.ref, 'refs/tags/v')
    needs: build-wheels
    uses: ./.github/workflows/templates/create-release.yml

  validate-release:
    if: startsWith(github.ref, 'refs/tags/v')
    needs: create-release
    uses: ./.github/workflows/templates/validate-release.yml
