name: MLC-LLM CI-CD Pipeline

on:
  push:
    branches: [ "master", "develop", "feature/*" ]
  pull_request:
    branches: [ "master", "develop" ]

jobs:
  validate:
    uses: ./.github/workflows/validate.yml

  test:
    needs: validate
    uses: ./.github/workflows/test.yml

  wheels:
    needs: test
    uses: ./.github/workflows/wheel-build.yml

  docker:
    needs: wheels
    uses: ./.github/workflows/docker-build.yml
